<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Weather</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
      body {
        overflow-x: hidden; /* Hide scrollbars */
    }
  </style>

</head>

<body>
  <nav class="row" style="background: green; color: white;">
    <h1 class="col-md-3 text-center">weather</h1>
  </nav>
  <br />
  <br />
  <div class="row">
    <form method="post" class="form-inline col-md-offset-3">
        {% csrf_token %}
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input type="text" class="form-control" name="lat" placeholder="Lat">
        <input type="text" class="form-control" name="lon" placeholder="Lon">     
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h5>coordinate : Lat- {{geometry.coordinates.1}}, Lon-{{geometry.coordinates.0}}</h5>
        <h5>Last updated: {{properties.meta.updated_at}}</h5>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Time</th>
                <th scope="col">Next 12 Hours</th>
                <th scope="col">Next 6 Hours</th>
                <th scope="col">Next 1 Hours</th>
              </tr>
            </thead>
            <tbody>
            {% for t in properties.timeseries %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{t.time}}</td>
                <td>{{t.data.next_6_hours.summary.symbol_code}}</td>
                <td>{{t.data.next_6_hours.summary.symbol_code}}</td>
                <td>{{t.data.next_1_hours.summary.symbol_code}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
  </div>
</body>

</html>